*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Fira Code", sans-serif;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

.line {
  width: 100%;
  height: 3px;

  background-color: black;

  margin: 20px 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;

  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
